#--index-url https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/_packaging/pepe/pypi/simple/
#--trusted-host ads.intra.fazenda.sp.gov.br
--prefer-binary
pepe>=2023.3.*
pyautoit
pandas==1.4.*
pyodbc==4.0.*
openpyxl==3.0.*
selenium==4.3.*
pdfkit
PySimpleGUI==4.60.*
python-dateutil
psycopg2==2.*;sys_platform=="win32"
psycopg==3.1.*;sys_platform=="win64"
py4j==0.10.9.5
pillow==9.2.*
tkhtmlview==0.1.0.*
mysql-connector-python==8.0.*
python-docx
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.14
wincertstore
keyring==23.8.*
jsonschema==4.9.*
markdown